.cart-container{
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20px;
}
.product-card{
  text-align: center;
  width: 400px;
  height: 500px;
  border: 2px solid yellow;
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
}
.product-card img{
  width: 100%;
  height: 350px;
  object-fit: contain;
}
.product-card button{
  margin-top: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 5px;
}
.product-card button:hover{
  background-color: skyblue;
}